body {
    font-family: 'Oswald', sans-serif;
}

#genre { 
    transition: all .2s ease-in-out; 
}

#genre:hover { 
    transform: scale(1.5); 
} 

#center {
    text-align: center;
    margin: 0 auto;
}

.item {
    display: inline-block;
}
