{% extends 'base.html' %}
{% block title %}Edit User{% endblock %}

{% block content %}
<div class="container-fluid text-center">
    <form method="POST">
        <h2 class="display-4">Edit user</h2>
        {{ form.hidden_tag() }}
    
        {% for field in form
        if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field(class_="form-control") }}
        </p>
        {% endfor %}

    <div class="btn-group text-center mt-3">
        <button class="btn btn-outline-info mr-1">Save</button>
    </form>
        <form action="/users">
            <button class="btn btn-outline-danger">Cancel</button>
        </form>
</div>
{% endblock %}