{% extends 'base.html' %}
{% block title %}Users{% endblock %}

{% block content %}
<form class="container m-5" method="POST">
    <h2>Create a user</h2>
    <div class="row">
        <label class="col" for="first">First Name
        <input class="col" type="text" size="20" name="first" placeholder="Enter a first name"></label>
    </div>
    <div class="row">
        <label class="col" for="last">Lirst Name
        <input class="col" type="text" size="20" name="last" placeholder="Enter a last name"></label>
    </div>
    <div class="row">
        <label class="col" for="url">Image URL
        <input class="col" type="text" size="20" name="url" placeholder="Provide an image of this user"></label>
    </div>
    <button class="btn btn-success">Add</button>
</form>
<a href="/users">Go back</a>
{% endblock %}