{% extends 'base.html' %}
{% block title %}New Tag{% endblock %}

{% block content %}
<div class="container-fluid m-5">
    <form method="POST">
        <h2>Create a tag</h2>
        <div class="form-group">
            <label for="Name">Name
                <input class="form-control" type="text" name="name" placeholder="Name for the tag"></label>
        </div>
        <div class="btn-group">
            <button class="btn btn-success mr-1">Add</button>
    </form>
            <form action="/tags">
                <button class="btn btn-info">Cancel</button>
            </form>
        </div>
</div>
{% endblock %}