{% extends 'base.html' %}
{% block title %}New User{% endblock %}

{% block content %}
<div class="container-fluid m-5">
        <form method="POST">
            <h2>Create a user</h2>
            <div class="form-group">
                <label for="first">First Name
                <input class="form-control" type="text" name="first" placeholder="Enter first name"></label>
            </div>
            <div class="form-group">
                <label for="last">Lirst Name
                <input class="form-control" type="text" name="last" placeholder="Enter last name"></label>
            </div>
            <div class="form-group">
                <label for="url">Image URL
                <input class="form-control" type="text" name="url" placeholder="Enter image URL"></label>
            </div>
        <div class="btn-group">
            <button class="btn btn-success mr-1">Add</button>
        </form>
        
        <form action="/users">
            <button class="btn btn-danger">Go back</button>
        </form>
    </div>
</div>
{% endblock %}