{% extends 'base.html' %}
{% block title %}{{ user.get_full_name() }}{% endblock %}

{% block content %}
<div class="container-fluid m-5">
    <img src= {{ user.image_url }} alt="profile_pic">
    <h1>{{ user.get_full_name() }}</h1>
    <div class="btn-group">
        <form action="/users/{{user.id}}/edit">
            <button class="btn btn-info mr-1">Edit</button>
        </form>
        <form action="/users/{{user.id}}/delete">
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>
    <h2 class="mt-4">Posts</h2>
    <ul>
        {% for post in user.posts %}
        <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <div class="btn-group">
        <form action="/users/{{user.id}}/posts/new">
            <button class="btn btn-outline-info mr-1">Add Post</button>
        </form>
        <form action="/users">
            <button class="btn btn-outline-danger">Go back</button>
        </form>
    </div>
</div>
{% endblock %}